<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>

    <title>Page not found!</title>
  </head>
  <body>
    
    <div class="container-fluid" style="font-family: 'Merriweather', serif">
      <div style="text-align: center">
        <div style="color: #af0000; font-size: 5em">
          <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        </div>
        <div><h1>Page not found =(</h1></div>
      </div>
    </div>

    <footer>
      <% include ./partials/footer %>
    </footer>
  </body>
</html>
